@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make text not selectable */
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  scroll-behavior: smooth;
}

.swiper {
  width: 95vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f9a334;
  width: 25px;
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

span.swiper-pagination-bullet {
  background-color: rgb(190, 190, 190);
  height: 3px;
  border-radius: 3px;
  width: 15px;
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media only screen and (min-width: 1388px) {
  .partners-swiper {
    width: 80vw;
  }
}

@media only screen and (min-width: 1660px) {
  .partners-swiper {
    width: 70vw;
  }
}
